# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Models / temporary files
logs/
TEMP/
*.bin
*.spm
*.onnx
*.pt
*.pth
*.ckpt
*.mat
*.dat
**/models/**/*.json
**/checkpoints/**/*.txt
*.mp4
*.wav

# Environment
env/
venv/
.conda/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/
