# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Development / Testing
tests/
*.bin
*.spm
*.onnx
**/models/*.json

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/
