# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Models / temporary files
logs/
TEMP/
*.bin
*.spm
*.onnx
*.pth
*.ckpt
**/models/**/*.json

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/
